* {
    scroll-behavior: smooth;
  }
  
  .App {
    min-height: 100vh;
    background-color: #39445a;
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;
  }
  
  .pageTitle {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    padding: 4px;
    border-radius: 50px;
    color: white;
    margin: 15px auto;

  }
  
  .container {
    margin-top: 3.5vh;
  }

  @media (max-width: 700px) {
    .App {
      padding-top: 100px;
    }
  }

  @media (max-width: 1000px) {
    .pageTitle {
      font-size: 4.5vw;
    }

    .App {
      padding-top: 100px;
    }
  }

